.l {
	&-footer {

		@include from( 'md' ) {

			@include fixed( right 0 bottom 0 left 0 );

		}
		
		@include between( 'xs', 'md' ) {

			@at-root [data-context="front-page"] & {
				@include fixed( right 0 bottom 0 left 0 );
			}
		}

		opacity: 0;
		transition: $ease-transition;
		visibility: hidden;
		z-index: 10;

		&.is-active {
			@extend %Reset-opacity, %Reset-visibility;
		}

		@at-root [data-context="front-page"] & {
			@extend %Reset-opacity, %Reset-visibility;
		}

		@at-root [data-context="works"] &.is-on-top {

			opacity: 0;
			visibility: hidden;
			pointer-events: none;
		}

		@at-root [data-context="work"] &.is-on-top {

			opacity: 0;
			visibility: hidden;
			pointer-events: none;
		}

		@at-root [data-context="page"] &.is-on-top {

			opacity: 0;
			visibility: hidden;
			pointer-events: none;
		}

		@at-root [data-context="thoughts"] &.is-on-top {

			opacity: 0;
			visibility: hidden;
			pointer-events: none;
		}


		@at-root .page--is-loading & {

			@include at( 'xs' ) {

				opacity: 0;
				visibility: hidden;
				pointer-events: none;
			}
		}

		&.is-init {
			@extend %Reset-opacity, %Reset-visibility;
		}
	}
}