/**
 * Paint
 */
.Paint {
	
	@at-root body:not([data-context="front-page"]) & {

		@extend %display-xs-none;
	}


	/**
	 * Instruction
	 *
	 * @uses .Paint__instruction
	 */
	&__instruction {
	
		opacity: 0;
		transition: $ease-transition;
		visibility: hidden;


		&.is-active {
			opacity: initial;
			@extend %Reset-visibility;
		}
	}
	
	
	/**
	 * Control
	 * @uses .Paint__control
	 */
	&__control {
		opacity: 0;
		transition: $ease-transition;
		visibility: hidden;

		@at-root [data-context="front-page"] & {

			@extend %Reset-opacity, %Reset-visibility;
		}
	}
}
