<div class="col-md-10 offset-md-1 margin-top-64">
	<p>
		<img class="img-full {% if section.shadow == 'true' %}box-shadow{% endif %}" src="{{ Image( section.image ).src }}" alt="{{ Image( section.image ).title }}" />

		{% if Image( section.image ).caption %}

			{# Caption #}
			<span class="display-block font-size-13 font-weight-regular text-align-right">
				{{ Image( section.image ).caption }}
			</span>

		{% endif %}

	</p>
</div>