<div class="row margin-xs-top-24">
					
	<div class="col-xs-1 col-xs-offset-1">
		
		<img src="{{image}}" class="cover img-full"/>
		
	</div>
	<div class="col-xs-3">
		
		<p class=" color-white margin-xs-top-12 no-margin-bottom">
			
			<span class="artist font-medium">{{artist}}</span><br/>

			<span class="name font-light">{{name}}</span>

		</p>
	</div>

</div>