<div class="Lastfm__row row margin-xs-top-32 margin-xs-bottom-32" data-aos="slide-up" data-aos-offset="0">
	<div class="col-xs-1 col-xs-offset-1">
		<div class="Lastfm__cover" style="background-image: url('{{ track.image }}')">
		</div>
	</div>
	<div class="col-xs-9">
		<p class="color-white margin-xs-top-8 no-margin-bottom">
			<span class="artist font-medium">{{ track.artist }}</span><br/>
			<span class="name font-light">{{ track.name }}</span>
		</p>
	</div>
</div>';