{#
	
	/**
	 * Guid
	 * 
	 * Display a grid like Photoshop with same shortcut CMD+;
	 * 
	 * @author  Julien Vasseur julien@poigneedemainvirile
	 */
	
#}

<div class="Guid display-none">
	<div class="l-container h-100">
		<div class="row h-100">

		{% for i in 1..12 %}
		    <div class="col-1 text-xs-center h-100">
				<div class="Guid__column">
					{{i}}
				</div>
			</div>
		{% endfor %}

		</div>
	</div>
</div>