{# 
 # views/components/transition
 #
 # @author Jérémy Levron <jeremyjeremy@19h47.fr> (http://19h47.fr)
 #
 #}
<div class="js-transition Transition">
	<div class="display-table w-100 h-100">
		<div class="display-table-cell w-100 h-100 vertical-align-middle text-align-center">
			<p class="margin-0 is-loading Loader h3 font-weight-light">
				19h47
				<span data-text="19h47"></span>
			</p>
		</div>
	</div>
</div>