{# 

	/**
	 * views/components/transition
	 *
	 * @author Jérémy Levron levronjeremy@19h47.fr
	 */
	
 #}
<div class="js-transition Transition">
	<div class="display-xs-table w-xs-100 h-xs-100">
		<div class="display-xs-table-cell w-xs-100 h-xs-100 valign-middle text-xs-center">
			<p class="no-margin is-loading Loader h3 font-light">
				19h47
				<span data-text="19h47"></span>
			</p>
		</div>
	</div>
</div>