.Work-archive__color {
	display: block;
	padding-top: 100%;
}

.Work__title {
	margin: var(--baseline) 0 var(--baseline);
	font-size: 3.2rem;
	font-weight: 400;
	line-height: var(--baseline);
}

@media (width >= 992px) {
	.Work__title {
		margin: calc(var(--baseline) * 2) 0 var(--baseline);
		font-size: 5.7rem;
		line-height: calc(var(--baseline) * 2);
	}
}

.Work__navigation:hover .Link-layer span {
	transform: translate3d(0, 0, 0);
}

.Work__navigation:hover .Link-layer span::before {
	transform: translate3d(0, 0, 0);
}

.single-work {
	transition: background-color 2s ease;
}
