{#
	/**
	 * /views/index
	 */
#}

{# Header #}
{% include 'header/base.twig' %}

{% block post %} 
	
	<div class="l-container">

		{% block start_wrapper %}{% endblock %}
		
			
		{% block header %}{% endblock %}


		{% block content %}

			<div class="row">
				<div class="col-xs-10 col-xs-offset-1">
					<div class="font-light color-white margin-xs-top-64 margin-xs-bottom-64">
						{{ post.content }}
					</div>

				</div>
			</div> 

		{% endblock %}

		{% block footer %}{% endblock %}

		{% block end_wrapper %}{% endblock %}

	</div>
	
{% endblock %}


{# Footer #}
{% include 'footer/base.twig' %}