{#

	/**
	 * /views/footer
	 * 
	 * @package WordPress
	 * @subpackage lecafedelaquarium
	 * @author Jérémy Levron jeremy@poigneedemainvirile.com
	 */
	
#}
			</div> 
		</div>
	</main>
	<footer class="l-footer margin-xs-bottom-64 margin-xs-top-32">
		<div class="l-container">
			<div class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1">
					<div class="row">
						<div class="col-xs-6">
							<p class="no-margin font-size-13 uppercase letter-spacing-100 font-medium display-xs-inline-block valign-baseline Link-layer">
								Creative front end developer
								<span data-text="Creative front end developer"></span>
							</p>
						</div>
						<div class="col-xs-6 text-xs-right">
							<p class="no-margin font-size-13 uppercase letter-spacing-100 font-medium display-xs-inline-block valign-baseline Link-layer">
								{{ "now"|date("l, d F, Y") }}
								<span data-text="{{ "now"|date("l, d F, Y") }}"></span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	{{ wp_footer }}
		{% include 'components/guid.twig' %}
</body>
</html>