.l {

	/**
	 * Layout container
	 *
	 * The fluid container of the grid
	 * 
	 * @uses .l-container
	 */
	&-container {
		@extend %position-xs-relative;
		@include padding( right $grid-outer-gutter-width left $grid-outer-gutter-width);
		@include margin( top 0 right auto bottom 0 left auto );
		
		// max-width: $container-width;
		max-width: 100%;
	}
}

/**
 * Front page
 */
[data-context="front-page"] {
	user-select: none;

}


/**
 * Who I am
 */
.Page__who-i-am {
	header {
		display: none;
	}
}


.Transition {
	@extend %Position-fixed-center;
	@extend .background-black;

	transform: translate3d( -100%, 0, 0);
	transition: 1s ease;
	overflow: hidden;
	z-index: 1;

	@at-root .page--is-loading & {
		@extend %Reset-translate3d;
	}
}

.Work {
	
	/**
	 * Work archive
	 *
	 * @uses .Work-archive
	 */
	&-archive {

		&__color {

			@extend %display-xs-block;

			@include padding( top 100% );

			// border: {
			// 	radius: 100%;
			// }
		}
	}
}