.l {

	/**
	 * Layout container
	 *
	 * The fluid container of the grid
	 * 
	 * @uses .l-container
	 */
	&-container {
		@extend %position-xs-relative;
		@include padding( right $grid-outer-gutter-width left $grid-outer-gutter-width);
		@include margin( top 0 right auto bottom 0 left auto );
		
		// max-width: $container-width;
		max-width: 100%;
	}
}

/**
 * Front page
 */
[data-context="front-page"] {
	user-select: none;

}


/**
 * What I think
 */
[data-context="thoughts"] {

	.wp-caption {
		@include margin( 
			top ( ( $base-line-height / $base-font-size ) * 1em )
			right auto 
        		bottom ( ( ( $base-line-height / $base-font-size ) / 2 ) * 1em )
        		left auto
    		);

		max-width: 100%;

		img {
			@extend .img-full, .box-shadow;
		}

		&-text {
			@extend %display-xs-block, %font-size-13, %font-regular, %text-xs-right;
		}
	}
}

/**
 * Who I am
 */
.Page__who-i-am {
	header {
		display: none;
	}
}


.Transition {
	@extend %Position-fixed-center;
	@extend .background-black;

	transform: translate3d( -100%, 0, 0);
	transition: 1s ease;
	overflow: hidden;
	z-index: 9;

	@at-root .page--is-loading & {
		@extend %Reset-translate3d;
	}

	@at-root [data-context="thoughts"] {
		background: {
			color: get_color( white );
		}
	}
}

.Work {
	
	/**
	 * Work archive
	 *
	 * @uses .Work-archive
	 */
	&-archive {

		&__color {

			@extend %display-xs-block;

			@include padding( top 100% );

			// border: {
			// 	radius: 100%;
			// }
		}
	}


	/**
	 * Title
	 */
	&__title {
		@extend .h3;
		
		@include from( 'md' ) {
			
			$line-height: 64;
			$font-size: 57;

			@include margin (
			    top ( ( $line-height / $font-size ) * 1em )
			    bottom ( ( $line-height / $font-size ) / 2 ) * 1em
			);
			font: {
			    size: ( $font-size / 10 ) * 1rem;
			}
			line-height: $line-height / $font-size; 
		}

	}

	
	/**
	 * Navigation
	 */
	&__navigation {

		&:hover {
			.Link-layer {

				span {
					@extend %Reset-translate3d;

					&::before {
						transform: translate3d( 0, 0, 0 );
					}
				}
			}
		}
	}
}

.single-work {
	transition: background-color 2s ease;
}
