/**
 * Base
 */

html {
    @extend %w-xs-100;
    overflow-y: visible; // reset value from ress.css
}

body {
    font-size: 62.5%;
    line-height: ( ( $base-line-height / $base-font-size ) * 1em );
    background: {
        color: get_color( black );
    }
    color: get_color( white );
    transition: $ease-transition 1s;
    
    &[data-context="curriculum-vitae"],
    &[data-context="thoughts"] {
        background: {
            color: get_color( white );
        }
        color: get_color( black );
    }

    &.page--is-loading {
        cursor: progress !important;
        cursor: wait !important;
    }

    @include from('hd') {
        font-size: 3.157em;
    }
}

a, 
button {
    cursor: pointer;
    outline: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

i {
    @extend %font-style-normal!optional;
}

b, 
strong {
    font-weight: map-get( $font-weight, medium );
}

p {
    @include margin ( 
        top ( ( $base-line-height / $base-font-size ) * 1em ) 
        bottom ( ( ( $base-line-height / $base-font-size ) / 2 ) * 1em )
    );
    
    font-size: 1em;
    line-height: ( ( $base-line-height / $base-font-size ) * 1em );
}

ul,
ol {
    @include margin ( 
        top ( ( $base-line-height / $base-font-size ) * 1em ) 
        right 0
        bottom ( ( ( $base-line-height / $base-font-size ) / 2 ) * 1em )
        left 0
    );
    @include padding ( 
        top 0 
        right 0 
        bottom 0 
        left ( ( $base-line-height / $base-font-size ) * 1em ) 
    );
}

ul {
    // list-style-type: none;
}

li {
    @include margin ( 
        top ( ( ( $base-line-height / $base-font-size ) / 2 ) * 1em )
        right 0 
        bottom ( ( ( $base-line-height / $base-font-size ) / 4 ) * 1em )
        left 0 
    );
}

hr {
    @extend %no-margin;
    
    border: 0;
}

em {

    font: 
    {
        style: italic;
    }
}

iframe {
    border: 0;
}

blockquote {
    // Extend class
    @extend .font-title, .font-regular; 

    // Include mixin
    @include margin ( 
        top ( ( $base-line-height / $base-font-size ) * 1em )
        right 0 
        bottom ( ( ( $base-line-height / $base-font-size ) / 2 ) * 1em )
        left 0 
    );

    // Include padding
    @include padding ( 
        top 20px 
        left ( $grid-outer-gutter-width * 2 ) 
        bottom 20px 
    );

    border: {
        left: {
            color: currentColor;
            style: solid;
            width: 10px;
        }
    }

    p {
        @extend .no-margin;
    }
}

[disabled],
a.disabled {
    pointer-events: none;
}