{#
/**
 * /views/pages/_header
 *
 * @package 	WordPress
 * @subpackage 	19h47
 * @author 		Jérémy Levron levronjeremy@19h47.fr
 */
#}
<header class="row">
	<div class="col-xs-12 col-md-10 col-md-offset-1">
		<p class="no-margin font-size-13 uppercase letter-spacing-100 font-medium display-xs-inline-block valign-baseline Link-layer">
			{{ post.title }}
			<span data-text="{{ post.title }}"></span>
		</p>
	</div>
</header>