{#
/**
 * /views/pages/what-currently-listening
 *
 * @package 	WordPress
 * @subpackage 	19h47
 * @author 		Jérémy Levron <jeremyjeremy@19h47.fr> (http://19h47.fr)
 */
#}
{% extends 'index.twig' %}

{# Last.fm #}
{% block start_wrapper %}
	<div class="Lastfm margin-xs-top-64 margin-xs-bottom-64">
{% endblock %}

{% block header %}
	{% include 'pages/_header.twig' with { 'class': 'js-loader is-loading Loader' } %}
{% endblock %}

{% block content %}
	
	<section class="row margin-xs-top-32 margin-xs-bottom-32">
		<div class="col-xs-12">
			<div class="response"></div>
		</div>
	</section>

{% endblock %}

{% block footer %}
	<footer class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			<p class="no-margin font-size-13 color-white uppercase letter-spacing-100 font-medium display-xs-inline-block valign-baseline">
				I've listened to <span class="playcount"></span>&nbsp;songs since 2008.
			</p>
		</div>
	</footer>
	
	{# Template #}
	<script id="track" type="x-tmpl-mustache">
		{% verbatim %}

			<div class="Lastfm__row row margin-xs-top-32 margin-xs-bottom-32">
				<div class="col-xs-1 col-xs-offset-1 hidden-xs hidden-sm">
					<div class="Lastfm__cover" style="background-image: url('{{ image }}')">
					</div>
				</div>
				<div class="col-xs-12 col-md-9">
					<p class="color-white margin-xs-top-8 no-margin-bottom">
						<span class="artist font-medium">{{ artist }}</span><br/>
						<span class="name font-light">{{ name }}</span>
					</p>
				</div>
			</div>

		{% endverbatim %}
	</script>
{% endblock %}

{% block end_wrapper %}
	</div>
{% endblock %}