{#
/**
 * /views/pages/what-currently-listening
 *
 * @package 	WordPress
 * @subpackage 	19h47
 * @author 		Jérémy Levron <jeremyjeremy@19h47.fr> (http://19h47.fr)
 */
#}
{% extends 'index.twig' %}

{# Last.fm #}
{% block start_wrapper %}
	<div class="Lastfm margin-top-64 margin-bottom-64">
{% endblock %}

{% block header %}
	{% include 'pages/_header.twig' with { 'class': 'js-loader is-loading Loader' } %}
{% endblock %}

{% block content %}
	
	<section class="row margin-top-32 margin-bottom-32">
		<div>
			<div class="response"></div>
		</div>
	</section>

{% endblock %}

{% block footer %}
	<footer class="row">
		<div class="col-md-10 offset-md-1">
			<p class="margin-0 font-size-13 color-white uppercase letter-spacing-100 font-weight-medium display-inline-block vertical-align-baseline">
				I've listened to <span class="playcount"></span>&nbsp;songs since 2008.
			</p>
		</div>
	</footer>
	
	{# Template #}
	<script id="track" type="x-tmpl-mustache">
		{% verbatim %}

			<div class="Lastfm__row row margin-top-32 margin-bottom-32">
				<div class="col-1 offset-1 display-none display-md-block">
					<div class="Lastfm__cover" style="background-image: url('{{ image }}')"></div>
				</div>
				<div class="col-md-9">
					<p class="color-white margin-top-8 margin-bottom-0">
						<span class="artist font-weight-medium">{{ artist }}</span><br/>
						<span class="name font-weight-light">{{ name }}</span>
					</p>
				</div>
			</div>

		{% endverbatim %}
	</script>
{% endblock %}

{% block end_wrapper %}
	</div>
{% endblock %}