{#
/**
 * /views/pages/what-i-do
 *
 * @package 	WordPress
 * @subpackage 	19h47
 * @author 		Jérémy Levron levronjeremy@19h47.fr
 */
#}
{% extends 'index.twig' %}

{% block start_wrapper %}
	<div class="margin-xs-top-64">
{% endblock %}

{% block header %}

	{% include 'pages/_header.twig' %}

{% endblock %}

{% block end_wrapper %}
	</div>
{% endblock %}